* {
    margin: 0;
    padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.login-logout{
    background: darkred;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo{
    color: #fff;
    margin-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.formulario{
    margin-right: 5px;
}

.texto-label{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.contenido-principal{
    background: url('./images/fondo.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    gap: 5%;
    align-items: center;
}

.contenedor{
    height: 90%;
    max-height: 500px;
}

.contenedor {
  background: yellowgreen;
  border: solid 1px #000;
  border-radius: 5px;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.boton {
    width: 50%;
    cursor: pointer;
    
}

.slide{
    display: flex;
    align-items: center;
}

.imagen-flecha{
    width: 50%;
}

.imagen-flecha{
    max-width: 100px;
    cursor: pointer;
}

.imagen-producto{
   width: 100%; 
   cursor: pointer;
}

.imagen-producto{
    max-width: 550px;
    border-radius: 5px;
    
}

.pie-pagina {
    background: #000;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 10px;
}