* {
    margin: 0;
    padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

#contenedor-imagenes{
    transition: opacity .10s ease-out;
}

#contenedor-imagenes.ocultar-contenido-imagenes{
    opacity: 0;
}

.login-logout{
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo{
    color: #fff;
    margin-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.formulario{
    margin-right: 5px;
    display: flex;
    gap: 3px;
    align-items: center;
}

.texto-label{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.contenido-principal{
    background: url('./images/fondo.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    gap: 5%;
    align-items: center;
}

.contenedor{
    height: 90%;
    max-height: 500px;
}

.contenedor {
  background: #000;
  border: solid 1px darkgray;
  border-radius: 5px;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.boton{
     border-radius: 5px; 
     cursor: pointer;  
}

#boton-productos{
    max-width: 250px;
}

#boton-productos{
   width: 50%;
}

.titulo-inicial {
    color:#fff;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: solid 1px darkgray;
    padding: 3px;
}

.slide{
    display: flex;
    align-items: center;
    gap: 1em;
}

.imagen-flecha{
    width: 50%;
}

.imagen-flecha{
    max-width: 100px;
    cursor: pointer;
}

.imagen-producto{
   width: 100%; 
   cursor: pointer;
}

.imagen-producto{
    max-width: 600px;
    border-radius: 5px;   
}

.imagen-producto{
    opacity: 1;
    transition: opacity .6s ease;
}

.imagen-producto.ocultar{
  opacity: 0;
}

.imagen-producto.mostrar{
    opacity: 1;
}

.galeria-clickeable{
    display: flex;
    gap: 10px;
    justify-content:center;
}

.imagen-pequeña{
    max-width: 100px;
}

.imagen-pequeña{
    width: 100%;
    border-radius: 5px;
    border: solid 1px darkgray;
    cursor: pointer;
    transition: filter .3s ease;
}

.imagen-pequeña:hover{
    filter: brightness(1.3);
}


.carrito-producto{
    width: 60%;
    height: 80%;
    border-radius: 5px;
    border: solid 1px darkgray;
    display: flex;
    gap: 25px;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity .10s ease-out;
}

#car-prod.mostrar-contenido-carrito{
    opacity: 1;
}

.contedor-productos{
    width: 80%;
    height: 100%;
    display: grid;
    gap: 5px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    border-radius: 5px;
    overflow-y: hidden;
    padding: 1px;
}

.contedor-productos{
    max-height: 1000px;
}

.contenedor-carrito{
    background: #000;
    width: 50%;
    height: 100%;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    gap: 3px;
    align-items: center;
}

.contenedor-carrito{
    max-height: 1000px;
}

.casilla-producto{
    background: #000;
    width: 100%; 
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    justify-content: center;
    overflow-y: hidden;
    border-radius: 5px;
    cursor: pointer;
}

.casilla-producto{
    max-height: 500px;
}

.nombre-producto{
    color: #fff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

.imag-prod{
    width: 100%;
    border: solid 1px darkgray;
    border-radius: 5px;
}

.imag-prod{
    max-width: 150px;
}

.img-prod{
    width: 90%;
    border: solid 1px darkgray;
    border-radius: 5px;
}

.img-prod{
    max-width: 350px;
}

.stock-producto{
    background: darkred;
    width: 90%;
    height: 100%;
    border: solid 1px darkgray;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.stock-producto{
    max-height: 50px;
}

.boton-stock{
    width: 20px;
    cursor: pointer;
}

.display{
   border: solid 1px #000;
   border-radius: 5px;
   height: 50%;
   font-family: Arial, Helvetica, sans-serif;
    padding-left: 1px;
}

.display{
    max-height: 50px;
}

.bienvenida-usuario{
    display: flex;
    text-align: center;
    align-items: center;
    padding-right: 5px;
    gap: 5px;
}

.titulo-usuario{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;

}

.titulo-usuario.ocultar-titulo{
    display: none;
}

.input-dato.ocult{
    display: none;
}

.texto-label.oculto{
    display: none;
}


.descripcion{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}


.pie-pagina {
    background: #000;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 10px;
}


