* {
    margin: 0;
    padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

#contenedor-imagenes{
    transition: opacity .10s ease-out;
}

#contenedor-imagenes.ocultar-contenido-imagenes{
    opacity: 0;
}

.login-logout{
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo{
    color: #fff;
    margin-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.formulario{
    margin-right: 5px;
}

.texto-label{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.contenido-principal{
    background: url('./images/fondo.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    gap: 5%;
    align-items: center;
}

.contenedor{
    height: 90%;
    max-height: 500px;
}

.contenedor {
  background: #000;
  border: solid 1px darkgray;
  border-radius: 5px;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.boton{
     border-radius: 5px; 
     cursor: pointer;  
}

#boton-productos{
    max-width: 250px;
}

#boton-productos{
   width: 50%;
}

.titulo-inicial {
    color:#fff;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: solid 1px darkgray;
    padding: 3px;
}

.slide{
    display: flex;
    align-items: center;
    gap: 1em;
}

.imagen-flecha{
    width: 50%;
}

.imagen-flecha{
    max-width: 100px;
    cursor: pointer;
}

.imagen-producto{
   width: 100%; 
   cursor: pointer;
}

.imagen-producto{
    max-width: 600px;
    border-radius: 5px;   
}

.imagen-producto{
    opacity: 1;
    transition: opacity .6s ease;
}

.imagen-producto.ocultar{
  opacity: 0;
}

.imagen-producto.mostrar{
    opacity: 1;
}

.galeria-clickeable{
    display: flex;
    gap: 10px;
    justify-content:center;
}

.imagen-pequeña{
    max-width: 100px;
}

.imagen-pequeña{
    width: 100%;
    border-radius: 5px;
    border: solid 1px darkgray;
    cursor: pointer;
    transition: filter .3s ease;
}

.imagen-pequeña:hover{
    filter: brightness(1.3);
}


.carrito-producto{
    width: 60%;
    height: 80%;
    border-radius: 5px;
    border: solid 1px darkgray;
    display: flex;
    gap: 25px;
    padding: 1rem;
    background: rgba(0,0,0,1);
    opacity: 0;
    transition: opacity .10s ease-out;
}

#car-prod.mostrar-contenido-carrito{
    opacity: 1;
}

.contedor-productos{
    background: greenyellow;
    width: 80%;
    height: 100%;
    display: grid;
    gap: 5px;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, 1fr);
    border-radius: 5px;
    border:  solid 1px darkgray;
    overflow-y: hidden;
    padding: 1px;
}

.contedor-productos{
    max-height: 1000px;
}

.contenedor-carrito{
    background: purple;
    width: 50%;
    height: 100%;
    display: flex;
    border-radius: 5px;
    border: solid 1px darkgray;
}

.contenedor-carrito{
    max-height: 1000px;
}

.casilla-producto{
    background: #000;
    width: 100%; 
    max-height: 500px;
}

.nombre-producto{
    color: #fff;
    text-align: center;
}

.pie-pagina {
    background: #000;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 10px;
}


